<div id="toolsContainer">
<h1 class="contentMainTitle">Tools</h1>
<table>
<tr><td>
<div id="vendor-caterer" class="toolsbox">
<div class="tools_desc"><p>
<b>This is Adobe Kuler.</b> <br><br>
It is a online color palette tool that assists in designing color themes. There are a variety of existing palettes and tools to help choose your 5-color scheme.It is a great tool to help visualize a coordinated color theme from invitations, to linens, to powerpoints!<br><br>

You can save your color palette in <b>your account.</b>
</p></div>
<div class="tools_title"><a href='http://kuler.adobe.com'>Adobe Kuler</a></div>
<%=link_to( image_tag("kuler_display.png",:class => "tools_display"),'http://kuler.adobe.com')%>
</div>
</td></tr>

<tr><td>
<div id="vendor-caterer" class="toolsbox">
<div class="tools_desc"><p>
Here is some basic text. That looks like this. It is really quite long. So this should be wrapped around if possible.kfah al skjd fhais udflkjas hdga lskd fais ldj hflasudhlf kjh a sdjkl fhladshflk jashdflkjhasdl kjhflakjsh dfoiuhwalek fnli asudgflkjhas
</p></div>
<div class="tools_title"><a href='#'>Adobe Kuler</a></div>
<%=link_to( image_tag("kuler_display.png",:class => "tools_display"),root_path)%>
</div>
</td></tr>
<tr><td>
<div id="vendor-caterer" class="toolsbox">
<div class="tools_desc"><p>
Here is some basic text. That looks like this. It is really quite long. So this should be wrapped around if possible.kfah al skjd fhais udflkjas hdga lskd fais ldj hflasudhlf kjh a sdjkl fhladshflk jashdflkjhasdl kjhflakjsh dfoiuhwalek fnli asudgflkjhas
</p></div>
<div class="tools_title"><a href='#'>Adobe Kuler</a></div>
<%=link_to( image_tag("kuler_display.png",:class => "tools_display"),root_path)%>
</div>
</td></tr>
<tr><td>
<div id="vendor-caterer" class="toolsbox">
<div class="tools_desc"><p>
Here is some basic text. That looks like this. It is really quite long. So this should be wrapped around if possible.kfah al skjd fhais udflkjas hdga lskd fais ldj hflasudhlf kjh a sdjkl fhladshflk jashdflkjhasdl kjhflakjsh dfoiuhwalek fnli asudgflkjhas
</p></div>
<div class="tools_title"><a href='#'>Adobe Kuler</a></div>
<%=link_to( image_tag("kuler_display.png",:class => "tools_display"),root_path)%>
</div>
</td></tr>
<tr><td>
<div id="vendor-caterer" class="toolsbox">
<div class="tools_desc"><p>
Here is some basic text. That looks like this. It is really quite long. So this should be wrapped around if possible.kfah al skjd fhais udflkjas hdga lskd fais ldj hflasudhlf kjh a sdjkl fhladshflk jashdflkjhasdl kjhflakjsh dfoiuhwalek fnli asudgflkjhas
</p></div>
<div class="tools_title"><a href='#'>Adobe Kuler</a></div>
<%=link_to( image_tag("kuler_display.png",:class => "tools_display"),root_path)%>
</div>
</td></tr>
</table>
</div>
