<%render :template => 'tools/sidebar'%>

<div id="toolsContainer">
<h1 class="contentMainTitle">Tools</h1>
<p class="leadingSubtitle">
Please use these tools to spark your own creative genius!
</p>
<div class='toolsbox-container'>
<table>
<tr><td>
<div id="vendor-caterer" class="toolsbox">
<div class="tools_desc"><p>
<b>This is Adobe Kuler.</b> <br><br>
It is a online color palette tool that assists in designing color themes. 
<br><br>
There are a variety of existing palettes and tools to help choose your 5-color scheme.
<br><br>
It is a great tool to help visualize a coordinated color theme from invitations, to linens, to powerpoints!<br><br>
</p>
<p class="linkToAccount">
You can save your color palette in 
<% if user_signed_in? && !current_user.accounts.nil?%>
<b><%=link_to("your account.","color_scheme_path")%></b>
<% elsif user_signed_in? && current_user.accounts.nil?%>
<b><%=link_to("your account. Create an Event Now!!","create_event_path")%></b>
<% else %>
<b><%=link_to("your account. Sign Up Now!","/users/sign_up")%></b>
<% end %>
</p></div>
<div class="tools_title"><a href='http://kuler.adobe.com'>Adobe Kuler</a></div>
<%=link_to( image_tag("kuler_display.png",:class => "tools_display"),'http://kuler.adobe.com')%>
</div>
</td></tr>

<tr><td>
<div id="vendor-caterer" class="toolsbox">
<div class="tools_desc">
<p>
Paperless post is a unique invitation design tool. 
<br><br>
They specialize in making e-invitations that look and feel like actual postal invitations. You can even have a personalized designer for your event! 
<br><br>
Best thing is you can print your creations into the physical world and mail them for real.
<p class="linkToAccount">
You can save your favorite posts in <b>your account.</b>
</p>
</p></div>
<div class="tools_title"><a href='#'>Paperless Post</a></div>
<%=link_to( image_tag("paperless-post.jpg",:class => "tools_display"),'http://www.paperlesspost.com')%>
</div>
</td></tr>
<tr><td>
<div id="vendor-caterer" class="toolsbox">
<div class="tools_desc"><p>
Sometimes we need a little help visualizing our to-do list on the calendar...
<br><br>
Tom's Planner is a great tool to help keep you on track and aware of everything that needs to be done. 
<br><br>
An organized plan will help keep you and your support team on schedule for the perfect event.
</p>
<p class="linkToAccount">
You can save your important dates in <b>your account.</b>
</p>
</div>
<div class="tools_title"><a href='#'>Tom's Planner</a></div>
<%=link_to( image_tag("toms-planner.png",:class => "tools_display"),root_path)%>
</div>
</td></tr>
</table>
</div>
</div>
