<h3>Contact Form Tool</h3>
<% unless @closed %>
<h2>Submitted Contact Forms: Unresolved</h2>
<% else %>
<h2>Contact Forms: Closed</h2>
<% end %>

<div class="formHolder">

<%ContactForm.find_each do |form|%>
<%next if form.resolved != @closed%>
<%next if form.archived?%>
<div class="formbox">
<table class="formsheet">
<tr><td class="form-header">
<span><%=form.name%></span>
<span><%=form.email%></span>
<span><%=form.phone%></span>
<span><%=form.created_at%></span></td></tr>
<tr><td class=<form-message" colspan="4"><%=form.message%><br></td></tr>
</table>
</div>
<%if !@closed%>
<%= link_to "Resolve",:controller => "admin",:action => "form_index", :resolved => form.id%>
<%else%>
<%= link_to "Reopen",:controller => "admin",:action => "form_index", :resolved => form.id, :status => @closed%>
<%= link_to "Archive", :controller => "admin", :action => "delete_form", :form => form.id%>
<%end%>
<% end %>
</div>
<br>
<br>
<%= link_to "Toggle Status",:controller => "admin",:action => "form_index", :status => !@closed%>
