
Hello <%=current_user.email%>!
<% unless current_user.accounts.nil?%>
<h3>Summary of Your Event</h3>

<b>Event Name:</b> <%=@accounts.eventName%><br>
<b>Event Date:</b> <%=@accounts.eventDate%><br>
<b>Number of Attendees:</b> <%=@accounts.attendeeCount%><br>
<b>Saved notes:</b> <%=@accounts.notes%><br>
<p><b>Color Scheme</b></p>
<%=link_to("Choose Color Scheme","color_scheme_path")%>
<table class="colorScheme"><tr>
<% @colorArray.each_with_index do |v,i|%>
<td style="background-color:<%=@colorArray[i]%>;"></td> <!--Eventually populate from account-->
<% end %>

</tr></table>
<%=link_to("Attendee List","#") unless @accounts.attendeeList.nil?%>
<p><b>Attendee List</b></p>
<% if @accounts.attendeeList.nil? %>
  <%=link_to("Add Attendees","attendee_list_path")%>
<% else %>
  <%=link_to("Edit Attendee List","attendee_list_path")%>
<% end %>

<p><b>My Vendors</b></p>
<% if @accounts.vendors.nil? %>
<%=link_to("Add Vendors","vendor_list_path")%>
<% else %>
<%=link_to("Edit Vendor List","vendor_list_path")%>
<% end %>

<p><b>To-do's</b></p>
<% if @accounts.vendors.nil? %>
  <%=link_to("Add To-do item","todo_list_path")%>
<% else %>
  <%=link_to("Edit To-do List","todo_list_path")%>
<% end %>
<%end%>
<h3>Tools</h3>

<p><%= link_to("Edit your account",'account_details_path') %></p>
<% if @accounts.nil? %>
<p><%= link_to("Create an Event",'event_index_path') %></p>
<% else %>
<p><%= link_to("Edit your Event",'event_index_path') %></p>
<% end %>
