<header id="page_header">
  <nav id="utility">
    <p>
      <% if user_signed_in? %>
      You are logged in as <b><%=current_user.email%></b>
      <%=link_to "[Your Account]", "current_user_path"%>
      <% else %>
      <%=link_to "[Sign in]", "/users/sign_in"%>
      <% end %>
      <%=link_to("[Logout]", destroy_user_session_path, :method => :delete)%>
    </p>
  </nav>
  <%=link_to(
              image_tag("logo.png",
                         alt: "Lori's Website",
                         id: "logo"),
              root_url, title: "Dashboard") %>
  <%= render partial: 'layouts/main_nav' %>
</header>
