  <nav id="main_nav" role="navigation">
    <ul>
      <li><%= link_to 'Home', root_path  %></li>
      <li><%= link_to 'What We Do', "/profile_path" %></li>
      <li><%= link_to 'Creations', "/creations_path" %></li>
      <li><%= link_to 'Vendors', "/vendors_path" %></li>
      <li><%= link_to 'Creativity Tools', "/tools_path" %></li>
      <li><%= link_to 'Blog', "/about_path" %></li>
    </ul>
  </nav>
